
<h2>Iniciar Sesión</h2>

<h3>Entrar con correo y contraseña </h3>
<%= form_tag '/login' do %>

  Email: <%= text_field_tag :email %>
  <br>
  Contraseña: <%= password_field_tag :password %>

  <br>
  <%= submit_tag "Iniciar Sesión" %>
<% end %>


<br>


<h4><a href="/signup">No tengo una cuenta. Registrarme</a></h4>