<!DOCTYPE HTML>
<html>
<head>
	<title>Mi proyecto</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	 <%= yield(:head) %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<h1><a href="/">PET BOOK </a></h1>
			<nav class="links">
				<ul>
					<li><a href="/">Todos</a></li>
					<li><a href="/?category=1">Menu 1</a></li>
					<li><a href="/?category=2">Menu 2</a></li>
					<li><a href="/?category=3">Menu 3</a></li>
					
				</ul>
			</nav>
			<nav class="main">
				<ul>
				
					<% if current_user %>
						<li class="special">
							<a class="fa-plus-circle" href="/posts/new" >Nuevo Post</a>	
						</li>

						<li>
							<a class="fa-user" href=<%= "/users/#{current_user.id}" %> >Mi Perfil</a>	
						</li>
						<li>
							<a class="fa-power-off" href="/logout">Salir</a>	
						</li>
					<% else %>	
						<li>
							<a class="fa-sign-in" href="/login">Login</a>
						</li>	
					<% end %>
				</ul>
			</nav>
		</header>

		<!-- Menu -->
		<section id="menu">

			<!-- Search -->
			<section>
				<form class="search" method="get" action="#">
					<input type="text" name="query" placeholder="Search" />
				</form>
			</section>

			<!-- Links -->
			<section>
				<ul class="links">
					<li>
						<a href="#">
							<h3>Lorem ipsum</h3>
							<p>Feugiat tempus veroeros dolor</p>
						</a>
					</li>
					<li>
						<a href="#">
							<h3>Dolor sit amet</h3>
							<p>Sed vitae justo condimentum</p>
						</a>
					</li>
					<li>
						<a href="#">
							<h3>Feugiat veroeros</h3>
							<p>Phasellus sed ultricies mi congue</p>
						</a>
					</li>
					<li>
						<a href="#">
							<h3>Etiam sed consequat</h3>
							<p>Porta lectus amet ultricies</p>
						</a>
					</li>
				</ul>
			</section>

			<!-- Actions -->
			<section>
				<ul class="actions vertical">
					<li><a href="#" class="button big fit">Log In</a></li>
				</ul>
			</section>

		</section>

		<!--p id="notice"-->
			<!--%=  notice %-->
		<!--/p-->

		<!-- Main -->
		<div id="main">

		 	<%= yield %>

		</div>


	<!-- Footer -->
		<!--section id="footer">
			<ul class="icons">
				<li><a href="https://twitter.com/VespaTechno" class="fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/VespaTechno" class="fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<p class="copyright">Workshop UPMH. Creado por: <a href="http://vespatechno.com">Vesparum Technologies</a>
		</section-->


	</div>

</body>
</html>